html,
body {
	font-family: 'Montserrat', sans-serif;
	height: 100%;
	width: 100%;
	margin: 0;
}


.container {
	max-width: 927px;
	margin: 2em auto;
	background-color: #0079C8;
	color: #EDEDEE;
	padding: 1em 2em 1em 2em;
}

.blue {
	background-color: #0079C8;
	color: #EDEDEE;
}

.title {
	margin: 0;
}

.section {
	width: 100%;
	display: flex;
	justify-content: space-between;
	min-width: 0;
}

.subject {
	width: 50%;
	margin: 0;
}

.btn {
	margin: 0;
	width: 30%;
	height: 3em;
	align-self: center;
	padding: 0;
	border-radius: 10px;
	border-color: #0079C8;
	color: #328CD6;
	background-color: #F9F9F9;
	font-weight: bold;
}

@media (max-width: 800px) {

	.subject,
	.caption {
		font-size: 22px;
	}

	.title,
	.btn,
	.text {
		font-size: 13px;
	}

	.icon {
		width: 472px;
		height: 350px;
	}
}

@media (max-width: 670px) {

	.subject,
	.caption {
		font-size: 18px;
	}

	.title,
	.btn,
	.text {
		font-size: 11px;
	}

	.icon {
		width: 391px;
		height: 290px;
	}
}

@media (max-width: 571px) {

	.subject,
	.caption {
		font-size: 15px;
	}

	.title,
	.btn,
	.text {
		font-size: 10.5px;
	}

	.icon {
		width: 342px;
		height: 254px;
	}
}


@media (max-width: 520px) {

	.subject,
	.caption {
		font-size: 14px;
	}

	.title,
	.btn,
	.text {
		font-size: 9px;
	}

	.icon {
		width: 304px;
		height: 226px;
	}
}


@media (max-width: 340px) {

	.subject,
	.caption {
		font-size: 13px;
	}

	.title,
	.btn,
	.text {
		font-size: 8px;
	}

	.icon {
		width: 134px;
		height: 94px;
	}
}

.flex {
	display: flex;
}

.box {
	max-width: 1116px;
	margin: 6em auto;
	width: 100%;
	min-width: 0;
}

.caption {
	margin: 0;
}

.cta {
	padding: 0.6em 0.6em 0 1.5em;
}

.text {
	font-style: normal;
	font-weight: 400;
	line-height: 1.75em;
	color: #333333;
}


.icon {
	width: 100%;
}

.bigger {
	width: 80%;
}

.pictures {
	width: 100%;
	display: grid;
	gap: 1em;
	grid-template-columns: repeat(3, 1fr);
	margin-bottom: 3em;
}

